/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #111;
    color: #fff;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0px;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: center;  /* Размещаем элементы по краям */
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #f39c12;
}

/* Левое меню */
/* .nav-links-left {
    display: flex;
    gap: 20px;
} */

/* Правое меню */
/* .nav-links-right {
    display: flex;
    gap: 20px;
} */

/* Logo */
.logo img {
    height: 75px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact Info */
.contact-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-info p {
    font-size: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn.primary {
    background: #f39c12;
    color: #fff;
    font-weight: bold;
}

.btn.primary:hover {
    background: #e67e22;
}

.btn.secondary {
    background: transparent;
    color: #f39c12;
    border: 2px solid #f39c12;
    font-weight: bold;
}

.btn.secondary:hover {
    background: #f39c12;
    color: #fff;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('../images/background_2.jpeg') no-repeat center center/cover;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 4px 4px 20px rgba(0, 0, 0, 1), 
               -4px -4px 10px rgba(0, 0, 0, 1);
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
    text-shadow: 4px 4px 20px rgba(0, 0, 0, 1), 
               -4px -4px 10px rgba(0, 0, 0, 1);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.8);
}
